
<div class="bg-white shadow-md ">
  <!-- Top Navigation -->
  <div class="flex items-center justify-between bg-white text-white relative container">
    <div class="flex items-center">
      <div
        *ngFor="let menu of menuData"
        class="group py-4 flex gap-3"
        (mouseenter)="showCategory(menu.title)"
        (mouseleave)="hideCategory()"
      >
        <!-- Parent Menu Item -->
        <h3 class="font-medium underline-offset-[13px] mr-4 hover:underline decoration-2 text-gray-600 hover:text-gray-800 decoration-blue-500">
          {{ menu.title }}
        </h3>
    
        <!-- Dropdown for 'All Categories' -->
        <div
          *ngIf="activeCategory === 'All Categories'"
          class="absolute left-0 top-full hidden group-hover:block min-w-[1200px] w-full min-h-[50rem] bg-gray-100 shadow-lg border rounded-md z-10"
        >
          <div class="flex">
            <!-- Subcategories -->
            <div class="w-1/4 h-full border-r">
              <ul>
                <li
                  *ngFor="let category of menu.subcategories"
                  class="cursor-pointer text-black border-b border-dashed px-4 py-3 border-gray-400"
                  [ngClass]="{ 'bg-blue-300': activeSubcategory === category.name }"
                  (mouseenter)="showSubcategory(category.name)"
                >
                  {{ category.name }}
                </li>
              </ul>
            </div>
    
            <!-- Submenus -->
            <div class="w-full p-5 flex bg-white h-[50rem]">
              <div *ngFor="let category of menu.subcategories">
                <div *ngIf="activeSubcategory === category.name" class="flex flex-col h-full flex-wrap gap-5 text-black">
                  <div *ngFor="let submenu of category.submenus" class="flex w-96 gap-4 h-fit">
                    <div>
                      <h3 class="font-bold text-gray-800 mb-1">{{ submenu.heading }}</h3>
                      <ul>
                        <li *ngFor="let item of submenu.items" class="py-1 text-gray-600 hover:text-blue-500 cursor-pointer">
                          {{ item }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Dropdown for Other Items -->
        <div
          *ngIf="activeCategory !== 'All Categories'"
          class="absolute left-0 top-full hidden group-hover:block min-w-[1200px] w-full min-h-[50rem] bg-white shadow-lg border rounded-md z-10"
        >
        <div class="w-full p-4 flex  h-[50rem]">
          <div *ngFor="let category of menu.subcategories">
            <div class="flex flex-col h-[50rem] flex-wrap gap-5 text-black">
              <div *ngFor="let submenu of category.submenus" class="flex w-96 gap-4 h-fit">
                <div>
                  <h3 class="font-bold text-gray-800 mb-1">{{ submenu.heading }}</h3>
                  <ul>
                    <li *ngFor="let item of submenu.items" class="py-1 text-gray-600 hover:text-blue-500 cursor-pointer">
                      {{ item }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    
    <button class="font-medium hover:text-gray-200">Contact Us</button>
  </div>
</div>
