<footer
  class="footer footer-2 font-weight-normal second-primary-color text-black"
  style="background-color: white"
>
  <div class="footer-middle border-0">
    <div [ngClass]="containerClass">
      <div class="row">
        <div class="col-12 col-lg-2-5cols">
          <div class="widget widget-about mb-4">
            <img
              src="assets/images/logo.png"
              class="footer-logo w-full h-56"
              alt="Footer Logo"
            />
            <div class="widget-about-info">
              <div class="row">

                <div class="col-sm-6 col-md-8">
                  <span class="pl-3 widget-about-title text-black"
                    >Payment Method</span
                  >
                  <figure class="pl-3 mb-0 footer-payments">
                    <img
                      src="assets/images/payments.png"
                      alt="Payment methods"
                      width="272"
                      height="20"
                    />
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-lg-5cols">
          <div class="widget mb-4">
            <h4 class="widget-title text-black">Information</h4>

            <ul class="widget-list">
              <li><a class="text-black" routerLink="pages/about">About re-store</a></li>
              <li><a class="text-black" href="javascript:;">How to shop on re-store</a></li>
              <li><a class="text-black" routerLink="pages/faq">FAQ</a></li>
              <li><a class="text-black" routerLink="pages/contact">Contact us</a></li>
              <li><a class="text-black" routerLink="pages/login">Log in</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-4 col-lg-5cols">
          <div class="widget mb-4">
            <h4 class="widget-title text-black">Customer Service</h4>

            <ul class="widget-list">
              <li><a class="text-black" href="javascript:;">Payment Methods</a></li>
              <li><a class="text-black" href="javascript:;">Money-back guarantee!</a></li>
              <li><a class="text-black" href="javascript:;">Returns</a></li>
              <li><a class="text-black" href="javascript:;">Shipping</a></li>
              <li><a class="text-black" href="javascript:;">Terms and conditions</a></li>
              <li><a class="text-black" href="javascript:;">Privacy Policy</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-4 col-lg-5cols">
          <div class="widget mb-4">
            <h4 class="widget-title text-black">My Account</h4>

            <ul class="widget-list">
              <li><a class="text-black" routerLink="/shop/dashboard">Sign In</a></li>
              <li><a class="text-black" routerLink="/shop/cart">View Cart</a></li>
              <li><a class="text-black" routerLink="/shop/wishlist">My Wishlist</a></li>
              <li><a class="text-black" href="javascript:;">Track My Order</a></li>
              <li><a class="text-black" href="javascript:;">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom font-weight-normal">
    <div [ngClass]="containerClass">
      <p class="footer-copyright font-weight-light text-black">
        Copyright © {{ year }} RE-store Store. All Rights Reserved.
      </p>

      <ul class="footer-menu justify-content-center">
        <li>
          <a class="text-black" href="javascript:;">Terms Of Use</a>
        </li>
        <li>
          <a class="text-black" href="javascript:;">Privacy Policy</a>
        </li>
      </ul>

      <div class="social-icons social-icons-color justify-content-center">
        <span class="social-label">Social Media</span>
        <a
          href="javascript:;"
          class="social-icon social-facebook"
          title="Facebook"
          ><i class="icon-facebook-f"></i
        ></a>
        <a
          href="javascript:;"
          class="social-icon social-twitter"
          title="Twitter"
          ><i class="icon-twitter"></i
        ></a>
        <a
          href="javascript:;"
          class="social-icon social-instagram"
          title="Instagram"
          ><i class="icon-instagram"></i
        ></a>
        <a
          href="javascript:;"
          class="social-icon social-youtube"
          title="Youtube"
          ><i class="icon-youtube"></i
        ></a>
        <a
          href="javascript:;"
          class="social-icon social-pinterest"
          title="Pinterest"
          ><i class="icon-pinterest"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="mb-10" *ngIf="isBottomSticky"></div>
</footer>
